<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="intelmkl.devel.cluster.win-x64" version="2024.1.0.692" targetFramework="native" />
  <package id="intelmkl.devel.win-x64" version="2024.1.0.692" targetFramework="native" />
  <package id="intelmkl.redist.cluster.win-x64" version="2024.1.0.692" targetFramework="native" />
  <package id="intelmkl.redist.win-x64" version="2024.1.0.692" targetFramework="native" />
  <package id="intelmpi.devel.win-x64" version="2021.12.1.6" targetFramework="native" />
  <package id="intelmpi.redist.win-x64" version="2021.12.1.6" targetFramework="native" />
  <package id="intelopenmp.devel.win" version="2024.1.0.964" targetFramework="native" />
  <package id="intelopenmp.redist.win" version="2024.1.0.964" targetFramework="native" />
  <package id="inteltbb.devel.win" version="2021.12.0.496" targetFramework="native" />
  <package id="inteltbb.redist.win" version="2021.12.0.496" targetFramework="native" />
</packages>